* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: url(./images/1512992.webp);
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.freezing {
  background-image: url(./images/winter.jpg);
}

.app.colder {
  background-image: url(./images/colder.webp);
}

.app.cold {
  background-image: url(./images/autumn.jpg);
}

.app.pleasant {
  background-image: url(./images/pleasant.jpg);
}

.app.warm {
  background-image: url(./images/summer.jpg);
}

.app.hot {
  background-image: url(./images/sun.webp);
}



main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 10px 0 6rem;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 1.4rem;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2rem;
  margin-top: -25px;
  border: 2px solid black;
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.99);
}

.location-box .location {
  color: #FFF;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  padding: 15px 30px;
  color: #FFF;
  font-size: 120px;
  font-style: inherit;
  font-weight: 600;

}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 400;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}